streamlit
PyPDF2
numpy
scikit-learn
pandas
tiktoken
langchain
langchain_openai
langchain-openai==0.3.7
PromptTemplate
OpenAIEmbeddings
FAISS
FAISS.cpu
langchain_community
Path
time
tempfile
os
OpenAIEmbeddings
warnings
langchain-text-splitters==0.3.6


