streamlit
PyPDF2
numpy
scikit-learn
pandas
tiktoken
langchain-openai==0.3.7
langchain.prompts
OpenAIEmbeddings
FAISS
FAISS.cpu
langchain_community
Path
time
tempfile
os
OpenAIEmbeddings
warnings
langchain-text-splitters==0.3.6
langchain==0.3.19
langchain-community==0.3.18


